* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --clr: #008cff;
}

*:focus {
    outline: 0;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    background-color: var(--clr);
    align-items: center;
    display: flex;
    font-family: consolas;
    justify-content: center;
    min-height: 100vh;
}

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.container .box {
    align-items: center;
    background-color: var(--clr);
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.1);
    display: flex;
    font-size: 2em;
    height: 200px;
    justify-content: center;
    margin: 30px;
    position: relative;
    width: 250px;
}

.box-1 {
    align-items: center;
/*    background-color: var(--clr);*/
    border-radius: 15px;
/*    color: rgba(0, 0, 0, 0.1);*/
    display: flex;
    font-size: 2em;
    justify-content: center;
    position: relative;
    width: 250px;
}

.container .box.shadow-1 {
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(0, 0, 0, 0.1);
}

.container .box.shadow-2 {
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(0, 0, 0, 0.1),
        -10px -10px 10px rgba(255, 255, 255, 0.2) inset,
        15px 15px 15px rgba(0, 0, 0, 0.1) inset;
}

.container .box.shadow-3 {
    box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.3) inset,
        -4px -4px 5px rgba(0, 0, 0, 0.1) inset,
        10px 40px 40px rgba(0, 0, 0, 0.1)
}

.container .box.shadow-4 {
    border: 10px solid var(--clr);
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(0, 0, 0, 0.1),
        -10px -10px 10px rgba(255, 255, 255, 0.2) inset,
        15px 15px 15px rgba(0, 0, 0, 0.1) inset;
}
