   * {
       margin: 0;
       padding: 0;
       outline: 0;
   }

   body {
       /*       background: gray;*/
   }

   #wrapper {
       width: 300px;
       margin: 30px auto;
       background: white;
       box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
       overflow: hidden;
       padding: 15px;
   }

   #result {
       width: 100%;
       padding: 15px 0;
       margin-bottom: 20px;
       font-size: 25px;
       border-radius: 20px;
       text-align: right;
   }

   .number {
       width: 45px;
       aspect-ratio: 1;
       border-radius: 50%;
       background: #000f26b4;
       justify-content: center;
       align-items: center;
       color: white;
       cursor: pointer;
       box-shadow: inset 1px 1px 0 1px rgba(255, 255, 255, 0.299), inset -1px -1px 0 2px rgba(0, 0, 0, 0.849);
       font-size: 20px;
   }

   .oparetor,
   .oparetoradd,
   .oparetoreq,
   .oparetorc {
       aspect-ratio: 1;
       background-image: linear-gradient(to right bottom, #ff3737, #cd262b, #9d1720, #6f0814, #450000);
       align-items: center;
       justify-content: center;
       font-size: 30px;
       font-weight: bold;
       color: rgb(253, 231, 231);
       cursor: pointer;
       box-shadow: inset 1px 1px 0 1px rgba(255, 255, 255, 0.299), inset -1px -1px 0 2px rgba(0, 0, 0, 0.849);
   }

   .oparetor {
       width: 45px !important;
       border-radius: 50% !important;
   }

   .oparetorc {
       width: 100% !important;
       height: 50px !important;
       border-radius: 20px !important;
   }

   .oparetoradd {
       width: 60px !important;
       height: 100% !important;
       border-radius: 20px !important;
   }

   .oparetoreq {
       width: 100% !important;
       height: 50px !important;
       border-radius: 20px !important;
       background: linear-gradient(to right, #fff25d, #ffb442, #ff646d, #ff00b4, #b33eff);
   }

   .number:hover {
       background: #00122e;
   }

   .del:hover {
       background: radial-gradient(rgb(255, 87, 87), rgb(119, 0, 0));
       box-shadow: inset 1px 1px 0 1px rgba(255, 255, 255, 0.299), inset -1px -1px 0 2px rgba(0, 0, 0, 0.849);
   }




   /**/


   :root {
       --main-clr: rgb(235, 236, 240);
       --font-clr: 108, 122, 146;
       --bright-clr: 255, 255, 255;
       --dark-clr: 0, 0, 0;
   }

   * {
       box-sizing: border-box;
   }

   body {
       display: grid;
       place-items: center;
       height: 100vh;
       font-family: lato, sans-serif;
       background-color: var(--main-clr);
   }

   .container {
       padding: 50px;
       border-radius: 2.5rem;
       box-shadow: 8px 8px 10px rgba(var(--dark-clr), 0.2),
           -8px -8px 10px rgba(var(--bright-clr), 0.8);
       position: relative;
   }

   .top-container {
       height: 5em;
       width: 100%;
       display: flex;
       justify-content: space-around;
       align-items: center;
       color: rgba(var(--font-clr), 0.5);
   }

   .left,
   .right {
       width: 2.5rem;
       height: 2.5rem;
       border: 2px solid var(--main-clr);
       border-radius: 50%;
       font-size: 0.8rem;
       box-shadow: 8px 8px 10px rgba(var(--dark-clr), 0.2),
           -8px -8px 10px rgba(var(--bright-clr), 0.8);
       transition: box-shadow 200ms;
   }

   .fa-bars,
   .fa-arrow-left {
       position: relative;
       left: 0.75rem;
       top: 0.65rem;
   }

   .left:hover,
   .right:hover {
       cursor: pointer;
       box-shadow: 8px 8px 10px rgba(var(--dark-clr), 0.2),
           -8px -8px 10px rgba(var(--bright-clr), 0.8),
           inset 6px 6px 10px rgba(var(--dark-clr), 0.2),
           inset -6px -6px 10px rgba(var(--bright-clr), 0.8);
   }

   .heading {
       text-transform: uppercase;
       font-size: 13px;
       font-weight: 900;
   }

   .poster {
       /*
       width: 16rem;
       height: 16rem;
*/
       border-radius: 50%;
       border: 5px solid var(--main-clr);
       /*       background: url("https://i.ibb.co/J29hjX1/1.jpg") no-repeat scroll center;*/
       background-size: cover;
       margin: auto;
       position: relative;
       top: -0.6rem;
       box-shadow: 8px 5px 15px 7px rgba(var(--dark-clr), 0.3),
           -9px -7px 10px 8px rgba(var(--bright-clr), 1);
   }

   .info {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .song-name {
       font-size: 1.4rem;
       color: rgba(var(--font-clr), 1);
   }

   .band-name {
       margin-top: -10px;
       font-size: 13px;
       font-weight: bold;
       color: rgba(var(--font-clr), 0.7);
   }

   .timeline {
       appearance: none;
       width: 19rem;
       height: 0.6rem;
       border-radius: 1rem;
       margin-top: 3rem;
       box-shadow: inset 3px 2px 3px rgba(var(--dark-clr), 0.2),
           inset -3px -2px 3px rgba(var(--bright-clr), 0.8);
   }

   .timeline::-webkit-slider-thumb {
       appearance: none;
       width: 25px;
       height: 25px;
       cursor: pointer;
       border: 6px solid var(--main-clr);
       border-radius: 50%;
       background: rgb(155, 181, 250);
       box-shadow: 4px 4px 5px rgba(var(--dark-clr), 0.2),
           -4px -4px 5px rgba(var(--bright-clr), 0.8);
       ;
   }

   .time {
       font-size: 11px;
       font-weight: 900;
       color: rgba(var(--font-clr), 1);
       position: relative;
       right: 9rem;
       top: 0.6rem;
   }

   .time::after {
       content: '5.35';
       position: absolute;
       left: 18rem;
   }

   .controls {
       margin-top: 1rem;
       height: 5.5rem;
       display: flex;
       justify-content: space-around;
       align-items: center;
   }

   .play,
   .back,
   .front {
       width: 3rem;
       height: 3rem;
       border-radius: 50%;
       border: 2px solid var(--main-clr);
       box-shadow: 4px 4px 10px 4px rgba(var(--dark-clr), 0.2),
           -4px -4px 10px 2px rgba(var(--bright-clr), 0.8),
           inset -1px -1px 1px rgba(var(--dark-clr), 0.2),
           inset 1px 1px 1px rgba(var(--bright-clr), 0.8);
       transition: box-shadow 200ms;
       position: relative;
       margin: 5px;
   }

   .play {
       background: radial-gradient(rgb(136, 169, 255) 0%, rgb(133, 166, 255) 33%, rgb(130, 165, 255) 66%, rgb(129, 164, 255) 100%);
   }

   .fa-play,
   .fa-forward,
   .fa-backward {
       font-size: 2rem;
       color: rgba(var(--font-clr), 1);
       position: absolute;
       left: 1.15rem;
       top: 0.9rem;
   }

   .fa-play {
       color: rgba(var(--bright-clr), 0.6);
   }

   .fa-forward {
       left: 1rem;
   }

   .fa-backward {
       left: 0.75rem;
       top: 0.9rem;
   }

   .back:hover,
   .front:hover {
       cursor: pointer;
       box-shadow: 4px 4px 10px 4px rgba(var(--dark-clr), 0.2),
           -4px -4px 10px 2px rgba(var(--bright-clr), 0.8),
           inset 7px 7px 10px 4px rgba(var(--dark-clr), 0.2),
           inset -7px -7px 10px 4px rgba(var(--bright-clr), 0.8)
   }

   .play:hover {
       cursor: pointer;
       box-shadow: 4px 4px 10px 4px rgba(var(--dark-clr), 0.2),
           -4px -4px 10px 2px rgba(var(--bright-clr), 0.8),
           inset 7px 7px 10px 4px rgba(var(--dark-clr), 0.2),
           inset -7px -7px 10px 4px rgb(129, 164, 255);
   }
